<!--
  Cenário de mário(4) e de Éden(1)
-->

<div>

  <p><strong>Turma {{this.turmaAtual}}</strong></p>
  <!-- Para cada roteiro-->
  <tr *ngFor="let id of roteirosId">
    <div id='{{id}}'>
      <p><strong>{{this.nomeRoteiros[id]}}</strong></p>
      <p class='acertos'>Número de Acertos:  {{this.noAcertos[id]}}</p>
      <p class='erros'>Número de Erros: {{this.noErros[id]}}</p>
      <p>Número de Desistências: </p>
      <p>Número de Perguntas: </p>
    </div>
  </tr>

  <!-- Saindo do For -->
  <p> Estatísticas da turma para cada Roteiro</p>
</div>

